@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --app-accent: #028dff;
    --app-accent-dark: #005399;
    --background: #fff;
    --background-2: #f0f0f0;
    --background-3: #d8d8d8;
    --background-3-hover: #cecece;
    --background-4: #aaaaaa;
    --text: #000;
    --text-2: #4d4d4d;
    --text-3: #868686;
    --white: #fff;
    --grey: #b0b0b0;
    --black: #000;
    --releasing: #5be420;
    --notyet-releasing: #f29633;
    color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000;
        --background-2: #181818;
        --background-3: #2b2b2b;
        --background-3-hover: #3b3b3b;
        --background-4: #606060;
        --text: #fff;
        --text-2: #b0b0b0;
        --text-3: #696969;
        color-scheme: dark;
    }
}

* {
    font-family: 'Jost';
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 80vw;
    background: var(--background);
}

code {
    padding: 0.2em 0.4em;
    font-size: .8em;
    border-radius: 6px;
    font-family: "Ubuntu Mono",
        Consolas,
        Menlo,
        Monaco,
        "Lucida Console, Liberation Mono",
        "DejaVu Sans Mono",
        "Bitstream Vera Sans Mono",
        "Courier New",
        monospace,
        serif;
    background-color: var(--background-3);
}

form {
    display: flex;
    width: 80%;
    margin: 0 auto;
    border-radius: 1em;
}

input[type="search"],
input[type="text"]:not(.clr-color) {
    all: unset;
    background: var(--background-2);
    padding: .4em .8em;
    border-radius: 1em;
}

form input[type="search"] {
    width: 80%;
    border-radius: 1em 0 0 1em;
}

button {
    all: unset;
    background-color: var(--background-3);
    cursor: pointer;
    text-align: center;
    padding: .4em .8em;
    border-radius: 1em;
}

button:hover {
    background-color: var(--background-3-hover);
}

button[type="submit"] {
    all: unset;
    background-color: var(--app-accent);
    cursor: pointer;
    text-align: center;
    border-radius: 1em;
    color: var(--white);
    min-width: 5em;
}

form button[type="submit"] {
    border-radius: 0 1em 1em 0;
}

form * {
    flex-grow: 1 !important;
}

form:focus-within {
    outline: solid 2px var(--app-accent-dark);
}

button[type="submit"]:focus,
button[type="submit"]:hover {
    background-color: var(--app-accent-dark);
}

@media screen and (max-width: 1000px) {
    body {
        width: unset;
        margin: 10px;
    }

    form {
        width: unset;
    }
}

#results {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.search-result {
    width: 350px;
    min-height: 75px;
    max-width: calc(100vw - 10px * 2);
    /* - margins */
    background: var(--background-3);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr fit-content(100%);
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.search-result:hover {
    background: var(--background-3-hover);
}

.search-result>.image {
    grid-area: 1 / 1 / 3 / 2;
    background: var(--background-3-hover);
    border-radius: 3px;
    background-size: cover;
    height: 75px;
    align-self: center;
    background-position: 50%;
}

.search-result[data-type="MANGA"]>.image {
    width: calc(75px / 1.425);
}

.search-result .titles {
    display: flex;
    flex-direction: column;
    line-height: 125%;
}

.search-result .titles>span:first-child::after {
    width: .5em;
    height: .5em;
    display: inline-block;
    margin-left: 5px;
    border-radius: 50%;
}

.search-result .titles[data-status="RELEASING"]>span:first-child::after {
    content: "";
    background: var(--releasing);
}

.search-result .titles[data-status="NOT_YET_RELEASED"]>span:first-child::after {
    content: "";
    background: var(--notyet-releasing);
}

.search-result .titles>span:first-child {
    font-weight: 500;
}

.search-result .titles span[data-lang="english"] {}

.search-result .titles span[data-lang="romaji"] {
    font-style: italic;
    color: var(--text-3);
}

.search-result:not(.preview) .titles span[data-lang="romaji"] {
    font-size: .8em;
}

.search-result .titles span[data-lang="romaji"]:first-child {
    color: unset;
    font-size: unset;
}

.search-result .informations {
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.search-result .informations .id {
    font-weight: 500;
    text-align: right;
}

.preview.search-result {
    grid-template-columns: 120px 1fr;
    column-gap: 15px;
    cursor: unset;
    width: 80%;
    margin: 0 auto;
    min-height: 200px;
    padding: 10px;
    background-color: var(--background-2);
    font-size: 1.5em;
}

.preview.search-result:hover {
    background-color: var(--background-2);
}

.preview.search-result .titles>span:not(:first-child) {
    color: var(--text-3);
    font-size: 1.2rem;
}

.preview.search-result>.image {
    height: 100%;
    width: calc(180px / 1.5);
    max-height: 180px;
}

.preview.search-result>.informations {
    font-size: 1rem;
}

.preview.search-result[data-type="MANGA"]>.image {
    width: calc(180px / 1.425);
}

.preview.search-result .accent-color-square {
    display: inline-block;
    height: .5em;
    width: .5em;
    background-color: var(--accent);
    margin-right: 5px;
}

@media screen and (max-width: 1000px) {
    .preview.search-result {
        font-size: 1.25rem;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .preview.search-result * {
        flex-direction: column;
        text-align: left !important;
    }
}

.clr-field>button {
    display: none;
}